{% extends 'sb-admin/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div id="content-wrapper" class="d-flex flex-column">

     
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Order List</h1>
          <p class="mb-4">All orders are listed on below <a target="_blank" href="/sb-admin/order/create">Add new orders</a>.</p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Orders</h6><h6 class="float-right"><a href="/sb-admin/order/create" class="btn btn-primary">Add New</a></h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>User</th>
                      <th>Start Order</th>
                      <th>Ordered Date</th>
                      <th>Orderd</th>
                      <th>Billing Addrress</th>
                      <th>Shipping Address</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  
                  <tbody>
                    {% for product in product %}
                    <tr>
                      <td>{{forloop.counter}}</td>
                      <td>{{product.user}}</td>
                      <td>{{product.start_date }}</td>
                      <td>{{product.ordered_date}}</td>
                      <td>{{product.ordered}}</td>
                      <td>{{product.billing_address}}%</td>
                      <td>{{product.shipping_address}}</td>
                      <td>
                        <a class="text-primary mr-2" href="/sb-admin/order/edit/{{product.id}}"><i class="fa fa-edit"></i></a>
                        <a class="text-primary mr-2" href="/sb-admin/order/delete/{{product.id}}"><i class="fa fa-trash"></i></a>
                        
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
{% endblock %}