{% extends 'myapp/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<style>
    li {
        display: inline;
        color: black;
    }

    li a {
        color: black;
        font-family: 'Open Sans';
        font-weight: 800;
    }

    li a i {
        color: black;
        font-family: 'Open Sans';
    }
    .col-sm-3 {
    margin-top: 10px;
    text-align: left;
    justify-content: left;
}
.col-item {
    border: 1px solid gray;
    border-radius: 5px;
    background: #FFF;
}
.col-item .info {
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}
.col-item .price {
    /* width: 50%; */
    float: left;
    margin-top: 5px;
}
.text-black {
    color: #000;
}
.price-text-color {
    color: black;
}
.col-item .info .rating {
    color: #003399;
}
.col-item .photo img {
    margin: 0 auto;
    width: 100%;
}
.col-item .info {
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}
.col-item .separator {
    border-top: 1px solid #FFCCCC;
}
.clear-left {
    clear: left;
}
.col-item .separator p {
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}
.col-item .btn-add {
    border-right: 1px solid #CC9999;
}
.col-item .separator p i {
    margin-right: 5px;
}
</style>

<!-- Product List CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/quote.css' %}">



<div class="container">
    <div class="row">
        
        <div id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        
                        {% for product in object_list %}
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h6 class="text-black">{{product.title|slice:"0:15"}}</h6>
                                            <h6 class="price-text-color ">${{product.price}}.00</h6>
                                        </div>
                                        <div class="rating hidden-sm col-md-6 " >
                                            <i class="price-text-color fa fa-star"></i>
                                            <i class="price-text-color fa fa-star"></i>
                                            <i class="price-text-color fa fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <a href="{{ product.get_absolute_url }}" class="hidden-sm"><a href="{{ product.get_absolute_url }}" class="hidden-sm">
                                <div class="photo">
                                    <img src="/media/{{product.image}}" class="img-responsive" alt="a" / width="200px" height="200px">
                                </div>
                                <div class="info text-black">
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                            <i class="fa fa-shopping-cart"></i>Add to cart
                                        </p>
                                        <p class="btn-details">
                                            <i class="fa fa-list"></i>More details
                                        </p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div></a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<style>
.col-item
{
    border: 1px solid gray;
    border-radius: 5px;
    background: #FFF;
}
.col-item .photo img
{
    margin: 0 auto;
    width: 100%;
}

.col-item .info
{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}
.col-item:hover .info {
    background-color: rgba(215, 215, 244, 0.5); 
}
.col-item .price
{
    /*width: 50%;*/
    float: left;
    margin-top: 5px;
}

.col-item .price h5
{
    line-height: 20px;
    margin: 0;
}

.price-text-color
{
    color: black;
}

.col-item .info .rating
{
    color: #003399;
}

.col-item .rating
{
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator
{
    border-top: 1px solid #FFCCCC;
}

.clear-left
{
    clear: left;
}

.col-item .separator p
{
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.col-item .separator p i
{
    margin-right: 5px;
}
.col-item .btn-add
{
    width: 50%;
    float: left;
}

.col-item .btn-add
{
    border-right: 1px solid #CC9999;
}

.col-item .btn-details
{
    width: 50%;
    float: left;
    padding-left: 10px;
}
.controls
{
    margin-top: 20px;
}
[data-slide="prev"]
{
    margin-right: 10px;
}
h5{
    font-size: 15   px;
}
.info:hover{
    color: gray;
}
</style>

{% endblock content %}